In [160]:

# Initialize the map to the first location in the list
gmap = gmplot.GoogleMapPlotter(12.9716, 77.5946,12.5)

# Draw the points on the map. I created my own marker for '#FF66666'. 
# You can use other markers from the available list of markers. 
# Another option is to place your own marker in the folder - 
# /usr/local/lib/python3.5/dist-packages/gmplot/markers/
gmap.scatter(cbd_lon, cbd_lat,'cyan',size=None)
gmap.scatter(grow_lon, grow_lat,'green',size=None)
gmap.scatter(malls_lon, malls_lat,'yellow',size=None)
gmap.scatter(pr_roads_lon, pr_roads_lat,'orange',size=None)
gmap.scatter(Q_eme_lon, Q_eme_lat,'cornflowerblue',size=None)
gmap.scatter(Q_est_lon, Q_est_lat,'gray',size=None)
gmap.scatter(Q_Quad_lon, Q_Quad_lat,'red',size=None)
gmap.scatter(up_malls_lon, up_malls_lat,'magenta',size=None)

# gmap.heatmap(cbd_lon, cbd_lat)
# Write the map in an HTML file
gmap.draw('map.html')

In [72]:
import pandas as pd

In [116]:
cbd = pd.read_excel('/Users/apple/Documents/pais-datascience/Client Data/TrendArrow/Retail/Established-Central-Business-District.xlsx',header=0)
grow = pd.read_excel('/Users/apple/Documents/pais-datascience/Client Data/TrendArrow/Retail/Growing.xlsx',header=0)
malls = pd.read_excel('/Users/apple/Documents/pais-datascience/Client Data/TrendArrow/Retail/Malls.xlsx',header=0)
pr_roads = pd.read_excel('/Users/apple/Documents/pais-datascience/Client Data/TrendArrow/Retail/Prime-roads.xlsx',header=0)
Q_eme = pd.read_excel('/Users/apple/Documents/pais-datascience/Client Data/TrendArrow/Retail/Quadrant-Emerging.xlsx',header=0)
Q_est = pd.read_excel('/Users/apple/Documents/pais-datascience/Client Data/TrendArrow/Retail/Quadrant-Established.xlsx',header=0)
Q_Quad = pd.read_excel('/Users/apple/Documents/pais-datascience/Client Data/TrendArrow/Retail/Quadrant-Growing.xlsx',header=0)
up_malls = pd.read_excel('/Users/apple/Documents/pais-datascience/Client Data/TrendArrow/Retail/Upcoming-Malls.xlsx',header=0)

,x,y,Name,description,timestamp,begin,end,altitudeMode,tessellate,extrude,visibility,drawOrder,icon
0,77.559514,13.003052,Q 2.5,Malleswaram,NaN,NaN,NaN,NaN,-1,0,-1,NaN,NaN
1,77.647444,12.914640,Q 2.6,HSR Layout,NaN,NaN,NaN,NaN,-1,0,-1,NaN,NaN
2,77.699431,12.954009,Q 2.7,Marathahalli Junction,NaN,NaN,NaN,NaN,-1,0,-1,NaN,NaN
3,77.619701,12.932333,Q 2.2,Koramangala,NaN,NaN,NaN,NaN,-1,0,-1,NaN,NaN
4,77.646952,12.971062,Q 2.4,Indiranagar,NaN,NaN,NaN,NaN,-1,0,-1,NaN,NaN
5,77.596494,12.916480,Q 2.3,Jayanagar,NaN,NaN,NaN,NaN,-1,0,-1,NaN,NaN
6,77.730896,12.974616,Q 2.1,Whitefield,NaN,NaN,NaN,NaN,-1,0,-1,NaN,NaN

In [138]:
cbd_lat=cbd.iloc[:,0]
cbd_lon=cbd.iloc[:,1]

grow_lat = grow.iloc[:,0]
grow_lon = grow.iloc[:,1]

malls_lat = malls.iloc[:,0]
malls_lon = malls.iloc[:,1]

pr_roads_lat = pr_roads.iloc[:,0]
pr_roads_lon = pr_roads.iloc[:,1]

Q_eme_lat = Q_eme.iloc[:,0]
Q_eme_lon = Q_eme.iloc[:,1]

Q_est_lat = Q_est.iloc[:,0]
Q_est_lon = Q_est.iloc[:,1]

Q_Quad_lat = Q_Quad.iloc[:,0]
Q_Quad_lon = Q_Quad.iloc[:,1]

up_malls_lat = Up_malls.iloc[:,0]
up_malls_lon = Up_malls.iloc[:,1]

In [158]:
#def munge operation(self):
import glob

path =r'/Users/apple/Documents/pais-datascience/Client Data/TrendArrow/Retail/'
filenames = glob.glob(path + "/*.xlsx")

filenames

# dic = {}
def retDataFrame1(filename):   
    tDf1 = pd.read_csv(filename, encoding='latin-1')
    tdf2 = filename.iloc[:,0]
    tdf3 = filename.iloc[:,1]
    return tDf3;

# x = retDataFrame1(filename)

In [159]:
dic = {}

for filename in filenames:
    a=filename.split('/')
    b=a[8].split('.')
    dic[b[0]] = retDataFrame1(filename)

AttributeError: 'str' object has no attribute 'iloc'